/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    h3 {
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 60px;
    }

    .section-columns {
        flex-direction: row;
    }
    .section-columns .section-title {
        line-height: 16px;
        margin-right: 100px;
        width: 100px;
    }

    .section-overview-content:last-child {
        margin-top: -15px;
    }

    /* project detail pages */
    .projects .section-gallery-columns {
        display: flex;
        flex-direction: column;
    }

    .projects .section-gallery-image {
        width: 80%;
        height: auto;
        margin-bottom: 50px;
    }

    .section {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .section {
        padding-left: 16vw;
        padding-right: 16vw;
    }

    .projects .section-gallery-image {
        width: 100%;
    }
}