/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section-title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        margin-right: 100px;
        width: 100px; 
    }
    
    .section-overview-content, 
    .section-experience-content-detail {
        font-size: 30px;
        font-weight: 300;
        letter-spacing: -0.05vw;
    }
    
    /* sections */
    .section {
        padding-left: 6vw;
        padding-right: 6vw;
        display: flex;
        align-items: center;
    }
    
    .section-overview,
    .section-projects, 
    .section-experience, 
    .section-contact {
        align-items: flex-start;
        height: 400px;
    }
    
    /* header section */
    .section-header {
        height: 100vh;
    }
    
    /* intro section  */
    .section-intro {
        height: 800px;
    }
    
    /* overview section */
    .section-overview {
        padding-left: 6vw;
        display: flex;
        align-items: flex-start;
    }
    
    /* projects section */
    .section-projects-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .section-projects .section-title, 
    .section-experience .section-title, 
    .section-contact .section-title {
        line-height: 16px;
    }
    
    .section-projects-content-link {
        transition: all 0.75s ease;
        font-size: 30px;
        color: #F9F9F9;
        text-decoration: none;
    }
    
    .section-projects-content-link:hover {
        transition: all 0.5s ease;
        color: rgb(240, 224, 0);
    }
    
    .section-experience-content-block {
        margin-bottom: 30px; 
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}